#container{
    width: 1000px;
    min-height: 300px;
    margin: 0px auto;
}

#container.sys_err{
    float: right;
    height: 90px;
    margin-right: 260px;
    margin-top: 79px;
    color: #333333;
}
/*img{
    width: 1620px;
    height: 960px;
}*/
.div_btn{
            float: left;
            position:relative;
            
            left:-300px;
            border-radius: 100px;
            background-color: aquamarine;
            width: 60px;
            height: 10px;
            margin-left: 10px;
            margin-top: 30px;
        }
/*.btn_1{
	position:absolute;
	margin-left:50px;
}*/
.div_btn:hover{
            background-color:aqua;
}
img{
            width: 100%;
            height:500px;
        }
        .li_img{
            width: 800px;
            float: left;
            list-style: none;
        }
        .ul_img{
            width: 6000px;
            padding:0px;
            margin: 0px;
            transition: all 2s;
        }
        .main_div{
            width: 800px;
            overflow: hidden;
            position: position;
            top: 100px;
            left: 350px;
        }
        .arrows{
            z-index: 9999;
            position: absolute;
            padding-top: 200px;
            width: 800px;
        }
        .arrows span{
            font-size: 3em;
            color: seashell;
        }
        .arrows span:hover {
            /*变小手*/
            cursor: pointer;
            background-color: rgba(192, 192, 192, 0.29);
        }